[submodule "src/lib/imported_utilities/utilities"]
	path = src/lib/imported_utilities/utilities
	url = https://github.com/GSdaBlessedFist/utilities.git
[submodule "src/lib/utilities"]
	path = src/lib/utilities
	url = https://github.com/GSdaBlessedFist/utilities.git
